.Paginator__pageContainer {
  box-sizing: content-box;
  border: 1px dashed black;
  margin: 10px auto;
}

.Paginator__pageContainer--hidden {
  box-sizing: content-box;
  height: 0px;
  overflow: hidden;
  /* Have to use height=0 and overflow=hidden here
   * display=None interfere with height measurement
   */
}
